.heading {
  margin: 0px;
  border-style: solid;
  background-color: rgb(30, 160, 203);
  padding-top: 20px;
  padding-left: 20px;
  position: relative;
  width: 460px;
}

#brownbox {
  background-color: #8b4513;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50px;
  right: 0px;
  margin-left: 0px;
}
